__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# pytype static type analyzer
.pytype/

# PyPI configuration file
.pypirc

static/
src/__pycache__/
src/models
src/visuals
supplement/
supplement.zip